@using cd_c_bankAccounts.Models
@model Transaction

@{
    decimal sum = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Transactions</title>
</head>
<body>
    <div class="container"> <!-- BEGIN WHOLE PAGE CONTAINER -->
        <div class="row mt-5"> <!-- BEGIN HEADER ROW -->
            <div class="col">
                
                <h4>Welcome, </h4>
            </div>
            <div class="col">
                @{
                    foreach (var u in ViewBag.AllTransactions)
                    {
                        sum += u.Amount;
                    }
                }
                <h6>Current Balance: @sum</h6>
            </div>
        </div> <!-- END HEADER ROW -->

        <div class="row"> <!-- BEGIN TRANSACTION ROW -->
            
            <form asp-for="addtransaction" asp-controller="home" class="form-group">
                <div class="col">
                    <div>
                        <span asp-validation-for="Amount"></span>
                    </div>
                    <label asp-for="Amount"></label>
                    <input asp-for="Amount" class="form-control">
                </div>
                <div class="col">
                    <input type="submit" valude="Submit">
                </div>
            </form>

        </div> <!-- END TRANSACTION ROW -->

        <div class="row"> <!-- BEGIN ALL TRANSACTIONS TABLE ROW -->
             
        </div> <!-- END ALL TRANSACTIONS TABLE ROW -->

        
    </div> <!-- BEGIN WHOLE PAGE CONTAINER -->
</body>
</html>